body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bovenheader{
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header{
    background-color: white;
    color: black;
    width: 100%;
    height: 100px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    align-items: center;
    position: sticky;
}

.hoofdtext{
    position: absolute;
    left: 50px;
    font-size: 24px;
    font-weight: 800;
}

.contentheader ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.contentheader li{
    padding-left: 10px;
    transition: color 0.3s;
}

.contentheader button{
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: 600;
    border: 0;
    height: 35px;
    width: 90px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.contentheader button:hover{
    background-color: lightgray;
    border: none;
}

.loginheader{
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.loginheader ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.loginheader li{
    padding-left: 10px;
}

.loginheader button{
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: 800;
    border: 0;
    height: 35px;
    width: 90px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.loginheader button:hover{
    background-color: lightgray;
    border: none;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding-bottom: 20px;
}

.footer-section {
    flex-basis: 22%;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: lightgray;
    border: none;
}

.footer-bottom {
    background-color: black;
    color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    .header, .loginheader {
        height: auto;
        flex-direction: column;
        padding: 10px 0;
    }

    .hoofdtext {
        position: static;
        margin-bottom: 10px;
    }

    .contentheader ul, .loginheader ul {
        flex-direction: column;
    }

    .contentheader li, .loginheader li {
        padding: 5px 0;
    }

    .testimonial-block {
        width: 45%;
    }

    .kennismaken-container, .testimonial-container, .voortext {
        flex-direction: column;
    }

    .kennismaken-container {
        height: auto;
        padding: 20px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

.video-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: white;
}

video {
    width: 100%;
    height: 450px;
}

.social-links img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-width: 600px;
}

.contact-container h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;

}

.contactbutton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactbutton:hover {
    background-color: #0056b3;
    border: none;
}

.workout-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.workout-container h1 {
    text-align: center;
}

.workout-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.workout-item {
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.workout-item h2 {
    margin-top: 0;
}

.workout-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.workout-link:hover {
    background-color: #0056b3;
    border: none;
}

.workout-detail-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px;
}

.video-containerr {
    flex-basis: 50%;
    padding-right: 20px;
}

.workout-infoo {
    flex-basis: 50%;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.pricing-plan {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.pricing-plan h2 {
    color: #333;
    margin-top: 0;
}

.price {
    font-size: 24px;
    color: #007bff;
}

.pricing-plan ul {
    list-style-type: none;
    padding: 0;
}

.pricing-plan ul li {
    margin-bottom: 10px;
}

.buttonprijs {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.buttonprijs:hover {
    background-color: #0056b3;
    border: none;
}

.testimonials-section {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.voortext{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-section h2 {
    color: #333;
    padding-top: 30px;
    padding-left: 50px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-block {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: left;
    width: 300px;
    height: 240px;
}

.testimonial-block p {
    margin: 10px 0;
}

.testimonial-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.quote-icon {
    color: #007bff;
    font-size: 24px;
    vertical-align: middle;
}

.testimonial-author {
    font-weight: bold;
    font-style: normal;

}

.kennismaken-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 180px;
    padding-top: 20px;
    background-color: white;
}

.kennismaken-container p{
    font-size: 18px;
}

.kennisbutton{
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.kennisbutton:hover{
    background-color: #0056b3;
    border: none;
}

.txtprijzen{
    text-align: center;
    padding-top: 20px;
}

.register-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 20px;
    margin-left: 550px;
}

.register-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 22px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3;
    border: none;
}

.login-container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 20px;
    margin-left: 550px;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
    border: none;
}

.login-links {
    margin-top: 15px;
}

.login-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.login-links a:hover {
    text-decoration: underline;
    border: none;
}

.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.dashboard-item{
    width: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 400px;
    margin: 10px;
}

.workout-container form{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.workout-container form input{
    border-radius: 10px;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    border: solid 3px black;
}

.workout-container form button{
    border-radius: 10px;
    width: 90px;
    height: 40px;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.workout-container form select{
    border-radius: 10px;
    background-color: #ffffff;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: solid 3px black;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.admin-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.admin-stats{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 91.5px;
}

.user-stats{
    margin-right: 40px;
}

.admin-button{
    height: 35px;
    background-color: #007bff;
    width: auto;
    border-radius: 10px;
    border: solid 3px black;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.admin-button:hover{
    background-color: #0056b3;
    border: none;
}

.textcenter{
    text-align: center;
    margin-top: 40px;
}

.user-table{
    margin-top: 40px;
    margin-bottom: 80.5px;
    text-align: center;
}

table th{
    padding-left: 40px;
}

table td{
    padding-left: 40px;
}

#slideshow{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 40px;
}

#slideshow img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

#slideshow button {
    position: absolute;
    top: 60%;
    background-color: rgba(0, 0, 0, 0.495);
    border: none;
    cursor: pointer;
    height: 35px;
    width: 120px;
    transition: ease 0.5s;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}

#slideshow button:hover{
    background-color: #000000;
}

#previous {
    left: 500px;
}

#next {
    right: 500px;
}

.sale{
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 14px;
}

.sale p{
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

.discounted-price {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

#countdownTimer{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}

.middentext{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    color: red;
}

.bovenheader p{
    padding-right: 20px;
}

.sorteer-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.sorteer-container form input{
    border-radius: 10px;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    border: solid 3px black;
}

.sorteer-container form button{
    border-radius: 10px;
    width: 90px;
    height: 40px;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.sorteer-container form button:hover{
    background-color: #0056b3;
    border: none;
}

.sorteer-container form select{
    border-radius: 10px;
    background-color: #ffffff;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: solid 3px black;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.sorteer-container form label{
    font-size: 16px;
    font-weight: bold;
}

.bmi-container{
    text-align: center;
}

.button-group {
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.bmi-container form input[type="number"]{
    border-radius: 10px;
    width: 160px;
    height: 30px;
    padding-left: 20px;
    border: solid 3px black;
    margin-top: 10px;
}

.button-group input[type="submit"],
.button-group input[type="reset"]{
    border-radius: 10px;
    width: 90px;
    height: 35px;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.button-group input:hover[type="submit"],
.button-group input:hover[type="reset"]{
    background-color: #0056b3;
}

.zoekgebruiker-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.zoekgebruiker-container form input{
    border-radius: 10px;
    width: 160px;
    height: 30px;
    padding-left: 20px;
    border: solid 3px black;
    margin-top: 10px;
}

.zoekgebruiker-container form button{
    border-radius: 10px;
    width: 90px;
    height: 35px;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.zoekgebruiker-container form button:hover{
    background-color: #0056b3;
}